
:root {
    --dark-green: #9cc675;
--dark-yellow: #00b8df;
--extra-light-brown:#fdf0d7;
--light-brown: #ecd5ab;
--dark-brown:#915b40;
--light-yellow:#f8e3a8;
--light-red:#f3ac99;
--light-teal:#a6c8cc;
--light-gray:#ddd5d6;
    --theme-color2: #00b8df;
}



.c-container {
margin: auto;
width: 93%;
position: relative;
z-index: 1;
}


.testimonial p {
font-size: 28px;
letter-spacing: 0.02em;
line-height: 35px;
}
.testimonial .name {
font-weight: bold;
font-size: 18px;
letter-spacing: 0.04em;
line-height: 35px;
text-align: left;
}
.testimonial .designation {
font-size: 14px;
letter-spacing: 0.04em;
text-align: left;
color: #fff;
opacity: 0.65;
}
.unt {
margin-bottom: 20px;
margin-top: 60px;
}
.hero-text {
font-size: 30px;
letter-spacing: 0.02em;
color: #fff;
}
.gallery-thumbs {
height: 100%;
}
.gallery-thumbs .swiper-wrapper {
align-items: center;
}
/* .gallery-thumbs .swiper-slide {
background-position: center;
background-size: cover;
width: 250px !important;
height: 330px;
position: relative;
} */
.gallery-thumbs .swiper-slide img {
filter: contrast(0.5) blur(1px);
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 10px;
}
.gallery-thumbs .swiper-slide-active img {
filter: contrast(1) blur(0px) !important;
}


.gallery-thumbs .swiper-wrapper {
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}


.testimonial-section .quote {
width: 95%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
padding: 15px;
}
.swiper-container.testimonial {
height: 50vh;
}
.testimonial-section .user-saying {
background: var(--theme-color2);
color: #fff;
height: 100%;
}
.testimonial-section .quote p {
font-size: 20px;
font-weight: 300;
line-height: 1.8;
font-style: italic;
margin: 0;
}
.quote-icon {
width: 38px;
display: block;
margin-bottom: 30px;
}